*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex: auto;
}

#part-1{
    display: flex;
    flex: auto;
}

#part-2{
    float: left;
}

#part-3{
    display: flex;
}

#part-4{
    float: right;
}

img{
    width: 3.125rem;
    height: 3.125rem;
}

